.navbar {
	position: sticky;
	top: 0;
	//padding-top: .5rem;
//	padding-bottom: .5rem;
	box-shadow: 0 1px 0 0 var(--bs-gray-200);
	.container{
		height: 3rem;
		display: flex;
		background-color: $navbarbg;
		align-items: center;
	}
	.brand{
		margin: 0;
		color: $navbarcolor;
		font-size: 1.25rem;
		font-weight: bold;
		text-transform: uppercase;
		a {
			text-decoration: none;
			color: $navbarcolor;
			&:hover {
				opacity: 0.8;
			}
		}

		/*@media screen and (min-width: $breakpoint) {
			margin: 0;
		}*/
	}
	.toggler{
		border: none;
		padding: 0;
		align-items: center;
		background-color: transparent;	
		.icon {
			height: 24px;
			width: 24px;
			color: $navbarcolor;
		}

		&.navButton {
			margin-right: auto;
			@media screen and (min-width: $breakpoint) {
				display: none;
			}
		}
		&.search {
			margin-left: auto;
		}
		/*.feather-x {
			display: none;
		}

		&.expand {
			.feather-menu {
				display:none;
			}
			.feather-x {
				display: block;
			}
		}*/
	}
	
	.nav {
		margin: 0;
		display: flex;
		padding: 0;
		padding-inline-start: 2rem;
		//height: 3rem;
		@media screen and (max-width: $breakpoint) {
			display: none;
		}
	}

	.nav-item {
		//height: 3rem;
		margin: 0;
		padding: 0;
		align-items: center;
		list-style: none;
		display: flex;
		text-transform: uppercase;
		font-weight: 500;
		
		a {
			display: flex;
			padding: 0 .5rem;
			height: 3rem;
			align-items: center;
			//background-color: #f1f1f1;
			text-decoration: none;
			//color: $navbarcolor;

			&:hover {
				box-shadow: inset 0 -2px 0 0 var(--bs-blue)
			}
		}
	}


};

@import './search';
